@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC With Web API CRUD</h1>
    <p class="lead">This is an MVC Web API application to demonstrate all CRUD operations.</p>
    <p>By : Ashish Dubey</p>
</div>